spring:
  application:
    name: GW
  security:
    user:
      name: admin
      password: admin
      roles: ADMIN
jwt:
  config:
    key: powertn
    # 60 * 60 * 24 * 7
    expiration: 604800
    # 60 * 60 * 24
    refresh: 86400
dubbo:
  application:
    name: GW
  registry:
    address: nacos://127.0.0.1:8848
  protocol:
    port: -1
    name: dubbo

logging:
  level:
    root: INFO
  file: /data/log/backend/backend.log



powertn:
  dubbo:
    routers:
      generic:
        serverName: com.github.powerttt.generic.provider.TestService
        methods:
          echo:
            - filed: say
              type: String
            - filed: say
              type: String
          test:
            - filed: say
              type: String
          test1:
            - filed: null
              type: null
          restful:
            - filed: id
              rest-path: user/{id}
              type: String
server:
  port: 8900
